html {
    background-color: #e4f7f3;
    background-image: -webkit-linear-gradient(70deg, #73a971 50%, #cbc7b1 50%);
    min-height: 1000px;
    font-family: 'helvetica neue';
  }
  
  h1 {
    color: #000;
    padding: 10px;
  }

  h2 {
    color: #000;
    padding: 10px;
  }

  .center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #heading {
    background-color: #5c875b;
    text-align: center;
  }
  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #000;
  }

  button {
    min-height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #30aab8;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
  }
    
  #footer {
    background-color: #b0ab8f;
    text-align: center;
  }

  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  