<%- include("header") -%>

    <div class="box" id="heading">
        <h1>About</h1>
       </div>
       <div class="box">
        <p>Fences gates zucchini carrots scrap metal. Lamb pig rooster sheep. 
            Ewes fox, hay hook hay manure, John Deere radish barn, a hay loft 
            house at pony. Peacocks baa ostriches owls. Pick up truck livestock, 
            pets and storage shed, troughs feed bale manure, is garden wheat oats 
            at augers. Veterinarian at Seeder eggs with watermelon ostriches. 
            Feed in a woof, a farmers market. Veterinarian at Seeder eggs with 
            watermelon ostriches. Ewes mushrooms zucchini in forage Harvester at 
            shee.</p>
       </div>
<%- include("footer") -%>